@import "tailwindcss";
@import '@fontsource/poppins/100.css';
@import '@fontsource/poppins/200.css';
@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource/poppins/800.css';
@import '@fontsource/poppins/900.css';
@import '@fontsource/instrument-serif';

@theme {
  --font-title: 'Poppins', sans-serif;
  --font-serif: 'Instrument Serif', serif;
  --color-green-max: #36f4a4;
  --color-green-max-dark: #041E18;
  --color-green-secondaire: #284F46;
}

@layer utilities {
  .bg-grain {
    background-image: url('/images/tactile-noise-dark.png');
    background-repeat: repeat;
    background-size: auto;
    opacity: 0.1;
    mix-blend-mode: multiply;
    background-color: #041E18;
  }
}

@layer utilities {
  .section {
    @apply py-20 md:py-28 px-6 md:px-10;
  }
}

html {
  scroll-behavior: smooth;
}