@import "tailwindcss";
@import '@fontsource/poppins/100.css';
@import '@fontsource/poppins/200.css';
@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource/poppins/800.css';
@import '@fontsource/poppins/900.css';
@import '@fontsource/instrument-serif';

@theme {
  --font-title: 'Poppins', sans-serif;
  --font-serif: 'Instrument Serif', serif;
  --color-green-max: #36f4a4;
  --color-green-max-dark: #041E18;
  --color-green-secondaire: #284F46;
  --color-white-max: #F4F9F8;
}

@layer utilities {
  .bg-grain {
    background-image: url('/images/tactile-noise-dark.png');
    background-repeat: repeat;
    background-size: auto;
    opacity: 0.1;
    mix-blend-mode: multiply;
    background-color: #041E18;
  }
}

@layer utilities {
  .section {
    @apply py-20 md:py-28 px-6 md:px-10;
  }
}

html {
  scroll-behavior: smooth;
}

.grain {
    background-image: url(../images/grain.svg);
    background-position: 0 0, 0 0;
    background-repeat: repeat, repeat-x;
    background-size: auto, auto 40px;
}

/* Assurez-vous d'avoir ce CSS dans un fichier accessible (e.g., global.css) */
@keyframes marquee {
  0% { transform: translateX(0%); }
  /* Défile de 50% de la largeur totale (ce qui est la taille du premier bloc de logos) */
  100% { transform: translateX(-50%); } 
}

.marquee-track {
  /* Assurez que l'animation est appliquée ici */
  animation: marquee 25s linear infinite; 
  /* J'ai augmenté le temps à 25s pour un défilement plus lent et professionnel */
}

@keyframes float {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
    }
    .animate-float-slow {
      animation: float 6s ease-in-out infinite;
    }
    .animate-float-delayed {
      animation: float 6s ease-in-out 3s infinite;
    }

.bg-btn-max {
  box-shadow:
    /* Effet gloss haut (reflet subtil) */
    inset 0 2px 0 rgba(255, 255, 255, 0.45),

    /* Contraste bas léger pour donner du relief */
    inset 0 -2px 0 rgba(0, 0, 0, 0.12);
}
