---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Projet from '../components/Projets.astro';
import Pro from '../components/pro.astro';
import Ajout from '../components/ajout.astro';
import Stack from '../components/stack.astro';
import Header from '../components/Header.astro';
import Contact from '../components/contact.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Header />
	<div class="bg-[#041E18] text-white">
	<Welcome />
	<Projet />
	<Ajout />
	<Pro />
	<Stack />
	<Contact />
	</div>
</Layout>