---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import MarqueeBrand from "../components/MarqueeBrand.astro";
---

<Layout>
  <section class="max-w-7xl mx-auto my-10 md:my-20 font-title relative z-2">
    <div
      class="grid grid-cols-1 md:grid-cols-2 items-center justify-between gap-8 md:gap-16 px-4 md:px-0"
    >
      <div class="space-y-6 md:space-y-10 grid grid-cols-1">
        <p class="leading-snug text-3xl sm:text-4xl lg:text-5xl font-bold">
          Prêt à optimiser la croissance de votre e-commerce Shopify ?
        </p>
        <p class="text-base/7 text-gray-100">
          Avec plus de 5 ans d'expérience sur Shopify, à développer, optimiser
          ou réaliser des refontes pour différentes je dédie aujourd'hui mon
          temps et toute mon énergie pour vous accompagner.
          <br />
          <div
            class="grid grid-cols-1 space-y-4 md:flex md:space-x-4 md:space-y-0 justify-start mt-4"
          >
            <span class="badge bg-btn-max">Expertise Confirmée</span>
            <span class="badge bg-btn-max">Approche Personnalisée</span>
            <span class="badge bg-btn-max">Résultats Durables</span>
          </div>
        </p>
        <a href="https://calendly.com/">
          <button
            class="bg-green-max/80 text-green-max-dark px-4 py-2 rounded-lg cursor-pointer w-full md:w-auto font-semibold"
            >On en disctute</button
          >
        </a>
      </div>
      <img
        src="/images/description-moi.webp"
        alt=""
        height="auto"
        width="1000px"
        class="rounded-lg"
      />
    </div>
    <div
      class="bg-green-max/20 absolute blur-3xl rounded-full -z-1
             top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
             w-full h-full"
    >
    </div>
  </section>

  <section class="max-w-7xl mx-auto py-12 md:py-24 font-title px-4 md:px-0">
    <h2
      class="text-4xl sm:text-6xl font-bold text-center text-white/90 pt-12 md:pt-24"
    >
      Ils m'ont fait confiances
    </h2>
    <MarqueeBrand />
  </section>

  <section class="max-w-7xl mx-auto my-10 md:my-20 font-title px-4 md:px-0">
    <div
      class="grid grid-cols-1 md:grid-cols-2 items-center justify-between gap-8 md:gap-16"
    >
      <div class="space-y-6 md:space-y-10 order-2 md:order-1">
        <p
          class="leading-snug text-4xl sm:text-5xl lg:text-7xl font-bold text-white/90"
        >
          Votre projet de boutique prend vie.
        </p>
        <p class="text-base/7 text-white/60">
          Lancer un e-commerce sur Shopify peut sembler complexe. Ensemble,
          simplifions le processus. Je vous accompagne de l'idée à la mise en
          ligne, en vous assurant une base technique saine pour vendre vos
          produits en toute sérénité.
        </p>
        <div class="flex flex-wrap gap-2 md:space-x-4">
          <span class="bg-green-max/20 px-4 py-2 rounded-lg bg-btn-max"
            >#AuditTechnique</span
          >
          <span class="bg-green-max/20 px-4 py-2 rounded-lg bg-btn-max"
            >#RefonteUX</span
          >
          <span class="bg-green-max/20 px-4 py-2 rounded-lg bg-btn-max"
            >#PerformanceWeb</span
          >
        </div>
        <a href="https://calendly.com/">
          <button
            class="bg-green-max text-green-max-dark px-4 py-2 rounded-lg cursor-pointer bg-btn-max w-full md:w-auto"
            >On en disctute</button
          >
        </a>
      </div>
      <img
        src="/images/site-shopify.webp"
        alt=""
        height="auto"
        width="auto"
        class="rounded-lg order-1 md:order-2"
      />
    </div>
  </section>

  <section class="max-w-7xl mx-auto my-10 md:my-20 font-title px-4 md:px-0">
    <div
      class="grid grid-cols-1 md:grid-cols-2 items-center justify-between gap-8 md:gap-16"
    >
      <img
        src="/images/omc-site-lp.webp"
        alt=""
        height="auto"
        width="auto"
        class="rounded-lg"
      />
      <div class="space-y-6 md:space-y-10">
        <p
          class="leading-snug text-4xl sm:text-5xl lg:text-7xl font-bold text-white/90 text-wrap"
        >
          Déjà sur Shopify ? Auditons vos performances.
        </p>
        <p class="text-base/7 text-white/60">
          Si votre boutique existe déjà, concentrons-nous sur ce qui peut être
          amélioré. Que vous envisagiez une modernisation (refonte), une
          amélioration de la vitesse (optimisation) ou le développement de
          nouvelles fonctionnalités (évolution), je suis votre partenaire pour
          atteindre de nouveaux objectifs de vente.
        </p>
        <div class="flex flex-wrap gap-2 md:space-x-4">
          <span class="bg-green-max/20 px-4 py-2 rounded-lg bg-btn-max"
            >#AuditTechnique</span
          >
          <span class="bg-green-max/20 px-4 py-2 rounded-lg bg-btn-max"
            >#RefonteUX</span
          >
          <span class="bg-green-max/20 px-4 py-2 rounded-lg bg-btn-max"
            >#PerformanceWeb</span
          >
        </div>
        <a href="https://calendly.com/">
          <button
            class="bg-green-max text-green-max-dark px-4 py-2 rounded-lg cursor-pointer bg-btn-max w-full md:w-auto"
            >On en disctute</button
          >
        </a>
      </div>
    </div>
  </section>
</Layout>
