---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import MarqueeBrand from "../components/MarqueeBrand.astro";
import { Icon } from "astro-icon/components";
import SlideProjet from "../components/SlideProjet.astro";
---

<Layout>
  <section class="max-w-7xl mx-auto my-10 md:my-20 font-title relative z-2">
    <div
      class="grid grid-cols-1 md:grid-cols-2 items-center justify-between gap-8 md:gap-16 px-4 md:px-0"
    >
      <div class="space-y-6 md:space-y-10 grid grid-cols-1">
        <p class="leading-snug text-3xl sm:text-4xl lg:text-5xl font-bold">
          Prêt à optimiser la croissance de votre <br />
          <span class="bg-green-max text-green-max-dark"
            >e-commerce Shopify</span
          > ?
        </p>
        <p class="text-base/7 text-gray-100">
          Avec plus de 5 ans d'expérience sur Shopify, à développer, optimiser
          ou réaliser des refontes pour différentes je dédie aujourd'hui mon
          temps et toute mon énergie pour vous accompagner.
          <br />
          <div
            class="grid grid-cols-1 space-y-4 md:flex md:space-x-4 md:space-y-0 justify-start mt-4"
          >
            <span class="badge bg-btn-max py-3 px-6 text-base"
              >#Transparence</span
            >
            <span class="badge bg-btn-max py-3 px-6 text-base">#Fiabilité</span>
            <span class="badge bg-btn-max py-3 px-6 text-base"
              >#Performance</span
            >
          </div>
        </p>
        <a
          href="https://calendly.com/maxgarandel-pro/30min"
          target="_blank"
          rel="nofllow"
        >
          <button
            class="bg-green-max/80 text-green-max-dark px-4 py-2 rounded-lg cursor-pointer w-full md:w-auto font-semibold"
            >On en disctute</button
          >
        </a>
      </div>
      <img
        src="/images/description-moi.webp"
        alt=""
        height="auto"
        width="1000px"
        class="rounded-lg"
      />
    </div>
    <div
      class="bg-green-max/20 absolute blur-3xl rounded-full -z-1
             top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
             w-full h-full"
    >
    </div>
  </section>

  <section class="max-w-7xl mx-auto py-12 md:py-24 font-title px-4 md:px-0">
    <h2
      class="text-4xl sm:text-6xl font-bold text-center text-white/90 pt-12 md:pt-24"
    >
      Ils m'ont fait confiances
    </h2>
    <MarqueeBrand />
  </section>

  <section class="max-w-7xl mx-auto my-10 md:my-20 font-title px-4 md:px-0">
    <div
      class="grid grid-cols-1 md:grid-cols-2 items-center justify-between gap-8 md:gap-16"
    >
      <div class="space-y-6 md:space-y-10 order-2 md:order-1">
        <p
          class="leading-snug text-4xl sm:text-5xl lg:text-6xl font-bold text-white/90"
        >
          Pas encore sur Shopify ?
        </p>
        <p class="text-base/7 text-white/60">
          Lancer un e-commerce sur Shopify n'a pas à être compliqué. Ensemble,
          nous simplifions l'intégralité du processus, de l'idée initiale à la
          mise en ligne. Mon rôle est de garantir une fondation technique saine
          et performante pour que vous vendiez vos produits en toute sérénité.
        </p>
        <div class="flex flex-wrap gap-2 md:space-x-4">
          <span class="bg-green-max/20 px-4 py-2 rounded-lg bg-btn-max"
            >#Accompagnement</span
          >
          <span class="bg-green-max/20 px-4 py-2 rounded-lg bg-btn-max"
            >#Optimisation</span
          >
          <span class="bg-green-max/20 px-4 py-2 rounded-lg bg-btn-max"
            >#Performance</span
          >
        </div>
        <a
          href="https://calendly.com/maxgarandel-pro/30min"
          target="_blank"
          rel="nofllow"
        >
          <button
            class="bg-green-max text-green-max-dark px-4 py-2 rounded-lg cursor-pointer bg-btn-max w-full md:w-auto"
            >On en disctute</button
          >
        </a>
      </div>
      <img
        src="/images/site-shopify.webp"
        alt=""
        height="auto"
        width="auto"
        class="rounded-lg order-1 md:order-2"
      />
    </div>
  </section>

  <section class="max-w-7xl mx-auto my-10 md:my-20 font-title px-4 md:px-0">
    <div
      class="grid grid-cols-1 md:grid-cols-2 items-center justify-between gap-8 md:gap-16"
    >
      <img
        src="/images/omc-site-lp.webp"
        alt=""
        height="auto"
        width="auto"
        class="rounded-lg"
      />
      <div class="space-y-6 md:space-y-10">
        <p
          class="leading-snug text-4xl sm:text-5xl lg:text-6xl font-bold text-white/90 text-wrap"
        >
          Déjà sur Shopify ?
        </p>
        <p class="text-base/7 text-white/60">
          Votre boutique est déjà en ligne ? Optimisons-la ! Que ce soit pour
          intégrer des sections personnalisées, simplifier vos processus
          internes, mettre en place des automatisations ou booster votre SEO,
          faisons équipe.
        </p>
        <div class="flex flex-wrap gap-2 md:space-x-4">
          <span class="bg-green-max/20 px-4 py-2 rounded-lg bg-btn-max"
            >#AuditTechnique</span
          >
          <span class="bg-green-max/20 px-4 py-2 rounded-lg bg-btn-max"
            >#RefonteUX</span
          >
          <span class="bg-green-max/20 px-4 py-2 rounded-lg bg-btn-max"
            >#PerformanceWeb</span
          >
        </div>
        <a
          href="https://calendly.com/maxgarandel-pro/30min"
          target="_blank"
          rel="nofllow"
        >
          <button
            class="bg-green-max text-green-max-dark px-4 py-2 rounded-lg cursor-pointer bg-btn-max w-full md:w-auto"
            >On en disctute</button
          >
        </a>
      </div>
    </div>
  </section>

  <section class="max-w-7xl mx-auto py-12 md:py-24 font-title px-4 md:px-0">
    <h2
      class="text-4xl sm:text-6xl font-bold text-center text-white/90 pb-12 md:pb-24"
    >
      Un Accompagnement sur Mesure
    </h2>

    <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-3 lg:gap-8">
      <div class="text-center space-y-4 mx-auto max-w-sm">
        <Icon
          name="cible"
          class="h-16 md:h-24 w-auto text-green-max/70 hover:text-white transition-colors cursor-pointer mx-auto"
        />
        <p class="text-xl font-semibold">1. Diagnostic & Stratégie</p>
        <p class="text-white/80">
          Lors d'un appel de découverte approfondi, nous analysons vos
          objectifs, votre marché et vos besoins spécifiques pour définir une
          feuille de route claire et efficace.
        </p>
      </div>

      <div class="text-center space-y-4 mx-auto max-w-sm">
        <Icon
          name="liquid"
          class="h-16 md:h-24 w-auto text-green-max/70 hover:text-white transition-colors cursor-pointer mx-auto"
        />
        <p class="text-xl font-semibold">2. Conception & Implémentation</p>
        <p class="text-white/80">
          Je procède au développement et à la personnalisation complète de votre
          boutique Shopify. Chaque élément est conçu pour respecter votre image
          de marque et optimiser la conversion.
        </p>
      </div>

      <div class="text-center space-y-4 mx-auto max-w-sm">
        <Icon
          name="truck"
          class="h-16 md:h-24 w-auto text-green-max/70 hover:text-white transition-colors cursor-pointer mx-auto"
        />
        <p class="text-xl font-semibold">3. Mise en Ligne & Optimisation</p>
        <p class="text-white/80">
          Après des tests rigoureux, votre boutique est lancée. Je vous offre un
          suivi post-livraison pour assurer le bon fonctionnement et réaliser
          les premières optimisations basées sur les données.
        </p>
      </div>
    </div>
  </section>

  <section class="max-w-7xl mx-auto py-12 md:py-24 font-title px-4 md:px-0">
    <SlideProjet />
  </section>

  <section class="max-w-7xl mx-auto py-12 md:py-24 font-title px-4 md:px-0">
    <h2
      class="text-4xl sm:text-6xl font-bold text-center text-white/90 pb-2 md:pb-4"
    >
      Un projet sur mesure
    </h2>
    <p class="text-center text-lg pb-12 md:pb-24">
      Chaque élément que je développe est entièrement personnalisable pour une
      multi-utilisation selon vos besoins
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mx-auto">
      <img
        src="/images/section-custom.webp"
        class="w-full h-auto max-h-96 object-contain mx-auto"
        alt=""
      />
      <img
        src="/images/custom-block.webp"
        class="w-full h-auto max-h-96 object-contain mx-auto"
        alt=""
      />
    </div>
  </section>

  <section>
    <div
      class="calendly-inline-widget"
      data-url="https://calendly.com/maxgarandel-pro/30min"
      style="min-width:320px;height:700px;"
    >
    </div>
    <script
      type="text/javascript"
      src="https://assets.calendly.com/assets/external/widget.js"
      async></script>
  </section>

  <section class="bg-green-secondaire">
    <div class="max-w-9xl mx-auto py-12 md:py-24 font-title px-4">
      <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
        <div>
          <Icon
            name="conseil"
            class="h-10 md:h-12 w-auto text-white transition-colors cursor-pointer mx-auto mb-4"
          />
          <p class="text-center font-light text-lg">Conseil</p>
        </div>
        <div>
          <Icon
            name="accompagnement"
            class="h-10 md:h-12 w-auto text-white transition-colors cursor-pointer mx-auto mb-4"
          />
          <p class="text-center font-light text-lg">Accompagnement</p>
        </div>
        <div>
          <Icon
            name="developpement"
            class="h-10 md:h-12 w-auto text-white transition-colors cursor-pointer mx-auto mb-4"
          />
          <p class="text-center font-light text-lg">Développement</p>
        </div>
        <div>
          <Icon
            name="optimisation-ux"
            class="h-10 md:h-12 w-auto text-white transition-colors cursor-pointer mx-auto mb-4"
          />
          <p class="text-center font-light text-lg">Optimisation UX</p>
        </div>
      </div>
    </div>
  </section>
</Layout>
