---
import "../styles/global.css";
---

<div class="bg-[#36f4a4] text-black section">
<div class="mx-auto md:w-2/3 w-full">
    <p class="text-4xl text-center font-bold">Contactez-moi</p>
    <p class="text-base text-center">Ready to take your project to the next level? Let's connect and explore opportunities together.</p>
    <button class="bg-[#041E18] text-white font-semibold px-4 py-2 rounded-xs mt-4 mb-4 hover:bg-white hover:border-2 hover:border-[#041E18] hover:text-[#041E18] mx-auto block">
        Contact Me
    </button>
</div>
</div>