---
import "../styles/global.css";
---

<div class="text-center max-w-5xl mx-auto pb-28 gap-5">
    <div class="titre-mesprojets flex justify-center">
    <h2 class="inline-block text-3xl font-extrabold mb-10 p-4 bg-[#36f4a4]/10 border-2 border-[#36f4a4] rounded-full -rotate-1 hover:rotate-0 transition-all duration-300">
        Mes Projets
    </h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 justify-center space-between gap-14">
    <div class="bg-[#36f4a4]/10 border-2 border-[#36f4a4] rounded-2xl p-6 hover:shadow-[0_0_40px_10px_rgba(54,244,164,0.6)] hover:scale-105 transition-all duration-300">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="Adobe Suite" class="rounded-xs mx-auto w-16 h-16 mb-3 drop-shadow-[0_0_10px_#36f4a4]/30 group-hover:scale-110 transition-transform duration-300" />
    </div> 
    <div class="bg-[#36f4a4]/10 border-2 border-[#36f4a4] rounded-2xl p-6 hover:shadow-[0_0_40px_10px_rgba(54,244,164,0.6)] hover:scale-105 transition-all duration-300">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRI42CkqHLhj3WRQQekBWwbmYsoCf3BBbPQnw&s" alt="Adobe Suite" class="rounded-xs mx-auto w-16 h-16 mb-3 drop-shadow-[0_0_10px_#36f4a4]/30 group-hover:scale-110 transition-transform duration-300" />
    </div> 
    <div class="bg-[#36f4a4]/10 border-2 border-[#36f4a4] rounded-2xl p-6 hover:shadow-[0_0_40px_10px_rgba(54,244,164,0.6)] hover:scale-105 transition-all duration-300">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="Adobe Suite" class="mx-auto w-16 h-16 mb-3 drop-shadow-[0_0_10px_#36f4a4]/30 group-hover:scale-110 transition-transform duration-300" />
    </div> 
    </div>
</div>
