---

import '../styles/global.css'
import { Icon } from "astro-icon/components";

---
<section class="relative py-24 text-white">
<div class="relative grid md:grid-cols-2 grid-cols-1 md:w-3/4 w-11/12 mx-auto gap-14 text-shadow-lg/30">
    <div>
    <div class="tracking-widest">
        <h2 class="font-serif uppercase text-6xl md:text-7xl mb-10 italic text-center md:text-left">éducation</h2>
        <div>
            <p class="text-2xs md:text-2xl mb-6 grid w-full"><span class="font-serif text-3xl mr-3">2022 - 2023</span>Bachelor Marketing & Social Media My Digital School - Caen (14)</p>
            <p class="text-2xs md:text-2xl mb-6 grid w-full"><span class="font-serif text-3xl mr-3">2020 - 2022</span>BTS Communication - Rennes (35) & Caen (14)</p>
            <p class="text-2xs md:text-2xl grid w-full"><span class="font-serif text-3xl mr-3">2015 - 2018</span>BAC STMG - Lannion (22)</p>
        </div>
    </div>
    <div class="bg-[#284F46] rounded-4xl px-6 py-6 mt-24 border-dashed border-4">
        <h2 class="font-serif uppercase text-6xl md:text-7xl mb-10 italic text-center md:text-left">expériences</h2>
        <div>
            <div class="flex justify-between items-center">
                <h3 class="font-serif tracking-widest text-2xl mb-2">Septembre 2025 - Aujourd'hui</h3>
                <div class="bg-[#041E18] text-white px-2 py-1 rounded-full">Freelance</div>
            </div>
            <p class="text-xl md:text-2xl">Assistant Shopify - Rennes (35)</p>
            <div class="px-6 mt-6">
                <ul class="list-disc list-inside text-2xs md:text-2xl px-0 md:px-6 mt-0 md:mt-6 space-y-1 overflow-hidden">
                    <li>Gestion globale de vos produits</li>
                    <li>Personnalisation de votre boutique</li>
                    <li>Gestion/Installation/Paramètrage de vos applications</li>
                    <li>Recherche et correction des bugs</li>
                </ul>
            </div>
        </div>
        <hr class="my-10 border-t border-white/30">
        <div class="mt-6">
            <div class="justify-between flex items-center">
                <h3 class="font-serif tracking-widest text-2xl mb-2">Juillet 2022 - Mars 2025</h3>
                <div class="bg-[#041E18] text-white px-2 py-1 rounded-full">OhMyCase</div>
            </div>
            <p class="text-sm md:text-2xl">Chargé de Marketing Digital & Agent de production</p>
            <div class="px-6 mt-6">
                <ul class="list-disc list-inside text-2xs md:text-2xl px-0 md:px-6 mt-0 md:mt-6 space-y-1 overflow-hidden">
                    <li>Gestion/Maintenance du site Shopify</li>
                    <li>Relation influenceurs</li>
                    <li>Campagne publicitaires Meta Ads</li>
                    <li>Production, expédition et service après-vente</li>
                </ul>
            </div>
        </div>
        <hr class="my-10 border-t border-white/30">
        <div class="mt-6">
            <div class="flex justify-between items-center">
                <h3 class="font-serif tracking-widest text-2xl mb-2">Juillet 2022 - Mars 2025</h3>
                <div class="bg-[#041E18] text-white px-2 py-1 rounded-full">MyFooty</div>
            </div>
            <p class="text-2xl">Chargé de Marketing Digital & Agent de production</p>
            <div class="px-6 mt-6">
                <ul class="shadow-black list-disc list-inside text-2xs md:text-2xl px-0 md:px-6 mt-0 md:mt-6 space-y-1 overflow-hidden">
                    <li>Gestion/Maintenance du site Shopify</li>
                    <li>Relation influenceurs</li>
                    <li>Campagne publicitaires Meta Ads</li>
                    <li>Production, expédition et service après-vente</li>
                </ul>
            </div>
        </div>
       <hr class="my-10 border-t border-white/30">
        <div class="mt-6">
            <div class="flex justify-between items-center">
                <h3 class="font-serif tracking-widest text-2xl mb-2">Septembre 2021 - Mars 2022</h3>
                <div class="bg-[#041E18] text-white px-2 py-1 rounded-full">MyFooty</div>
            </div>
            <p class="text-2xl">Chargé de communication et partenariat</p>
            <div class="px-6 mt-6">
                <ul class="list-disc list-inside text-2xs md:text-2xl px-0 md:px-6 mt-0 md:mt-6 space-y-1 overflow-hidden">
                    <li >Gestion/Maintenance du site Shopify</li>
                    <li>Design des produits</li>
                    <li>Gestion du Instagram de la marque</li>
                    <li>Production, expédition et service après-vente</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div>
        <div class="mb-16">
        <h2 class="font-serif uppercase text-6xl md:text-7xl mb-10 italic text-center md:text-left">compétences</h2>
        <div class="flex gap-6 justify-center md:justify-start">
        <Icon 
        name="figma"
        class="w-10 md:w-14 h-full text-green-max" />
        <Icon 
        name="adobe"
        class="w-10 md:w-14 h-full text-green-max" />
        <Icon 
        name="shopify"
        class="w-10 md:w-14 h-full text-green-max" />
        <Icon 
        name="wordpress"
        class="w-10 md:w-14 h-full text-green-max" />
        <Icon 
        name="openai"
        class="w-10 md:w-14 h-full text-green-max" />
        </div>
        <h2 class="font-serif uppercase text-6xl md:text-7xl mb-6 mt-10 italic text-center md:text-left">intérêt</h2>
        <div class="flex gap-6 justify-center md:justify-start">
        <Icon 
        name="run"
        class="w-10 md:w-14 h-full text-green-max" />
        <Icon 
        name="music"
        class="w-10 md:w-14 h-full text-green-max" />
        <Icon 
        name="computer"
        class="w-10 md:w-14 h-full text-green-max" />
        </div>
        </div>
    </div>
</div>
</section>