---
import "../styles/global.css";
import { Icon } from "astro-icon/components";
---

<section
  class="relative py-24 text-white rounded-tr-4xl rounded-tl-4xl container mx-auto px-2"
>
  <div
    class="relative grid md:grid-cols-2 grid-cols-1 gap-14 text-shadow-lg/30"
  >
    <div>
      <div class="tracking-widest">
        <h2
          class="font-serif uppercase text-6xl md:text-7xl mb-10 italic text-center md:text-left"
        >
          éducation
        </h2>
        <div>
          <p class="text-2xs md:text-2xl mb-6 grid w-full">
            <span class="font-serif text-3xl mr-3">2022 - 2023</span>Bachelor
            Marketing & Social Media My Digital School - Caen (14)
          </p>
          <p class="text-2xs md:text-2xl mb-6 grid w-full">
            <span class="font-serif text-3xl mr-3">2020 - 2022</span>BTS
            Communication - Rennes (35) & Caen (14)
          </p>
          <p class="text-2xs md:text-2xl grid w-full">
            <span class="font-serif text-3xl mr-3">2015 - 2018</span>BAC STMG -
            Lannion (22)
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="mb-16">
        <h2
          class="font-serif uppercase text-6xl md:text-7xl mb-10 italic text-center md:text-left"
        >
          compétences
        </h2>
        <div class="flex gap-6 justify-center md:justify-start">
          <Icon name="figma" class="w-10 md:w-14 h-full text-green-max" />
          <Icon name="adobe" class="w-10 md:w-14 h-full text-green-max" />
          <Icon name="shopify" class="w-10 md:w-14 h-full text-green-max" />
          <Icon name="wordpress" class="w-10 md:w-14 h-full text-green-max" />
          <Icon name="openai" class="w-10 md:w-14 h-full text-green-max" />
        </div>
        <h2
          class="font-serif uppercase text-6xl md:text-7xl mb-6 mt-10 italic text-center md:text-left"
        >
          intérêt
        </h2>
        <div class="flex gap-6 justify-center md:justify-start">
          <Icon name="run" class="w-10 md:w-14 h-full text-green-max" />
          <Icon name="music" class="w-10 md:w-14 h-full text-green-max" />
          <Icon name="computer" class="w-10 md:w-14 h-full text-green-max" />
        </div>
      </div>
    </div>
  </div>
  <div
    class="bg-[#284F46] rounded-4xl mt-24 border-4 px-2 md:px-12 py-12 relative"
  >
    <h2
      class="font-serif uppercase text-6xl md:text-7xl mb-10 italic text-center md:text-left"
    >
      expériences
    </h2>
    <div>
      <div class="flex justify-between items-center">
        <h3 class="font-serif tracking-widest text-2xl mb-2">
          Septembre 2025 - Aujourd'hui
        </h3>
        <div class="bg-[#041E18] text-white px-2 py-1 rounded-full">
          Freelance
        </div>
      </div>
      <p class="text-xl md:text-2xl">
        Dev e-commerce et site vitrine - Rennes (35)
      </p>
      <div class="mt-6">
        <p class="font-extralight text-lg">
          Depuis septembre 2023, j’accompagne différentes marques e-commerce
          dans le développement de leur site Shopify. Je m’occupe de créer et
          d’implémenter de nouvelles fonctionnalités, d’optimiser l’existant,
          ainsi que d’analyser les points forts et les points faibles de leur
          boutique afin d’améliorer leurs performances.
        </p>
      </div>
    </div>
    <hr class="my-10 border-t border-white/30" />
    <div class="mt-6">
      <div class="justify-between flex items-center">
        <h3 class="font-serif tracking-widest text-2xl mb-2">
          Juillet 2022 - Mars 2025
        </h3>
        <div class="bg-[#041E18] text-white px-2 py-1 rounded-full">
          OhMyCase
        </div>
      </div>
      <p class="text-sm md:text-2xl">
        Chargé de Marketing Digital & Agent de production
      </p>
      <div class="mt-6">
        <p class="font-extralight text-lg">
          Chez OhMyCase, je me suis occupé de toute la partie développement du
          site e-commerce : mise en place de nouvelles fonctionnalités,
          installation et configuration d’applications Shopify, ainsi que
          gestion de projets lors des temps forts de l’année (Noël, Black
          Friday, Fête des Mères, etc.). Je me suis également chargé de la mise
          en place de newsletters et de flows automatisés avec Klaviyo,
          notamment pour la récupération des paniers abandonnés.
        </p>
      </div>
    </div>
    <hr class="my-10 border-t border-white/30" />
    <div class="mt-6">
      <div class="flex justify-between items-center">
        <h3 class="font-serif tracking-widest text-2xl mb-2">
          Juillet 2022 - Mars 2025
        </h3>
        <div class="bg-[#041E18] text-white px-2 py-1 rounded-full">
          MyFooty
        </div>
      </div>
      <p class="text-2xl">Assistant de communication</p>
      <div class="mt-6">
        <p class="font-extralight text-lg">
          J’ai animé les réseaux sociaux et mis en place plus de 100
          partenariats avec des clubs amateurs sportifs dans le but de faire
          connaître la marque au plus grand nombre. MyFooty c’était plus de 10k
          visiteurs/mois avec un taux de conversion de 2.5%.
        </p>
      </div>
    </div>
  </div>
</section>
