---
import "../styles/global.css";
---

<div class="mx-auto md:w-2/3 w-full section">
    <div class="flex justify-center">
    <h2 class="inline-block text-3xl font-extrabold p-4 bg-[#36f4a4]/10 border-2 border-[#36f4a4] rounded-full -rotate-1 hover:rotate-0 transition-all duration-300">
        Foire Aux Questions
    </h2>
    </div>
<div class="grid grid-cols-2 gap-6">
    <div>
        <img src="../src/images/pdp.png" alt="Avatar" class="w-full h-auto rounded-full mx-auto mb-4">
    </div>
    <div class="justify-center flex flex-col">
        <div class="mb-4 flex gap-4 justify-between font-medium cursor-pointer">
            <p>Où est-ce que je peux trouver plus d'informations sur vos services ?</p>
            <span class="leading-none">+</span>
        </div>
        <hr class="text-[#36f4a4]">
        <div class="mb-4 mt-4">
        Où est-ce que je peux trouver plus d'informations sur vos services ?
        </div>
        <div>
        Où est-ce que je peux trouver plus d'informations sur vos services ?
        </div>
        <div>
        Où est-ce que je peux trouver plus d'informations sur vos services ?
        </div>
        <div>
        Où est-ce que je peux trouver plus d'informations sur vos services ?
        </div>
    </div>
</div>
</div>