---
import "../styles/global.css";
---

<header class="fixed w-full -right-10 top-10 z-50 text-white font-title">
  <div class="max-w-7xl mx-auto flex items-center justify-between">
    <!-- Logo -->
    <a href="/" class="flex items-center">
      <img
  src="/icon/Logo-MG.svg"
  alt="Logo MonPortfolio"
  class="backdrop-blur-md white px-6 py-6 w-40 h-auto object-contain rounded-xl"
  style="backdrop-filter: blur(8px);"
/>
    </a>
  </div>
</header>