---
import "../styles/global.css";
---

<header class="sticky w-full bg-white border border-white/10 text-black">
  <div class="max-w-7xl mx-auto flex items-center justify-between px-6 py-4">
    <!-- Logo -->
    <a href="/" class="flex items-center gap-3 group">
      <img
        src="/images/logo-mg.svg"
        alt="Logo MonPortfolio"
        class="w-32 h-auto object-contain transition-transform duration-300 group-hover:scale-105"
      />
    </a>

    <!-- Navigation -->
    <nav class="flex items-center gap-8 font-title text-sm tracking-wide">
      <a
        href="/projets"
        class="text-gray-700 hover:text-orange transition-colors duration-200 font-medium hidden md:block"
        >Mes projets</a
      >
      <a
        href="/appel-decouverte"
        class="bg-orange rounded-full border-2 border-orange-secondaire px-3.5 py-2 text-center font-medium text-white"
        >Débuter le projet</a
      >
      <span
        class="bg-brand-softer border border-orange text-xs font-medium px-3.5 py-2 rounded-full md:flex items-center hidden"
      >
        <span class="relative flex size-3 mr-3">
          <span
            class="absolute inline-flex h-full w-full animate-ping rounded-full bg-orange"
          ></span><span
            class="relative inline-flex size-3 rounded-full bg-orange"
          ></span></span
        >
        Disponible</span
      >
    </nav>
  </div>
</header>
