<section class="text-center text-white my-24 flex justify-center">
    <div>
    <h1 class="text-4xl font-bold font-serif">ID Postur</h1>
    <p class="font-title">ID Postur est un centre d'étude posturale pour les cyclistes qui recherche à améliorer leur posture sur leur vélo afin d'éviter les douleurs, blessures,..</p>
    <img src="../images/id-postur-site.webp" class="mx-auto mt-10 md:mt-0 object-cover object-top w-1/2 h-96 rounded-xl border-2 border-gray-400/50">
    </div>
</section>