<section
  class="font-title w-full container mx-auto py-16 md:py-32 px-4 md:px-0"
>
  <div class="text-left mb-12">
    <h2 class="text-3xl md:text-7xl font-bold mt-2">
      Tout ce dont vous avez besoin développer votre e-commerce
    </h2>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div
      class="rounded-3xl md:rounded-4xl grid grid-cols-1 bg-orange px-6 py-6 sm:px-8 sm:py-8 md:px-10 md:py-10 border border-orange/10"
    >
      <img
        src="/images/info-1.svg"
        alt="Background décoratif"
        class="w-full h-auto max-h-48 sm:max-h-64 md:max-h-none object-contain"
      />
      <div class="mt-6 md:mt-10 text-white">
        <p class="text-xl sm:text-2xl font-bold">
          Votre Shopify 100% clés en mains
        </p>
        <p class="text-sm sm:text-base mt-2">
          Une fois livré, votre site e-commerce vous appartiendra totalement, je
          vous forme et vous accompagne pour que vous puissiez ajouter vos
          produits, modifier les couleurs, le texte,...
        </p>
      </div>
    </div>
    <div
      class="rounded-3xl md:rounded-4xl grid grid-cols-1 bg-[#FAFAFA] px-6 py-6 sm:px-8 sm:py-8 md:px-10 md:py-10 border border-black/10"
    >
      <img
        src="/images/info-2.svg"
        alt="Background décoratif"
        class="w-full h-auto max-h-48 sm:max-h-64 md:max-h-none object-contain"
      />
      <div class="mt-6 md:mt-10 text-black">
        <p class="text-xl sm:text-2xl font-bold">Garantie 100% satisfait</p>
        <p class="text-sm sm:text-base mt-2">
          Je modifie et perfectionne votre site jusqu'à ce qu'il vous convienne
          entièrement !
        </p>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
    <div
      class="rounded-3xl md:rounded-4xl grid grid-cols-1 bg-[#FAFAFA] px-6 py-6 sm:px-8 sm:py-8 md:px-10 md:py-10 border border-black/10"
    >
      <img
        src="/images/info-3.svg"
        alt="Background décoratif"
        class="w-full h-auto max-h-48 sm:max-h-64 md:max-h-none object-contain"
      />
      <div class="mt-6 md:mt-10 text-black">
        <p class="text-xl sm:text-2xl font-bold">
          Optimisation du taux de conversion (CRO)
        </p>
        <p class="text-sm sm:text-base mt-2">
          J'optimise votre boutique avec une approche marketing et CRO pour
          optimiser votre taux conversion et augmenter votre chiffre d'affaire.
        </p>
      </div>
    </div>
    <div
      class="rounded-3xl md:rounded-4xl grid grid-cols-1 bg-[#FAFAFA] px-6 py-6 sm:px-8 sm:py-8 md:px-10 md:py-10 border border-black/10"
    >
      <img
        src="/images/info-4.svg"
        alt="Background décoratif"
        class="w-full h-auto max-h-48 sm:max-h-64 md:max-h-none object-contain"
      />
      <div class="mt-6 md:mt-10 text-black">
        <p class="text-xl sm:text-2xl font-bold">Optimisation du SEO</p>
        <p class="text-sm sm:text-base mt-2">
          Ne dépendez pas que de la publicité en ligne pour attirer des
          visiteurs et augmenter votre chiffre d'affaire. Attirez naturellement
          des visiteurs sur Google.
        </p>
      </div>
    </div>
  </div>
</section>
