<section class="relative mx-auto w-full md:w-1/2 mt-12">

  <div class="relative overflow-hidden">
    <div class="flex gap-6 marquee-track">
      <img class="h-6 md:h-12 w-auto object-cover" src="/icon/tailwind-logo.svg">
      <img class="h-6 md:h-12 w-auto object-cover" src="/icon/shopify-logo.svg">
      <img class="h-6 md:h-12 w-auto object-cover" src="/icon/vscode-alt.svg">
      <img class="h-6 md:h-12 w-auto object-cover" src="/icon/astro-logo.svg">
      <img class="h-6 md:h-12 w-auto object-cover" src="/icon/tailwind-logo.svg">
      <img class="h-6 md:h-12 w-auto object-cover" src="/icon/shopify-logo.svg">
      <img class="h-6 md:h-12 w-auto object-cover" src="/icon/vscode-alt.svg">
      <img class="h-6 md:h-12 w-auto object-cover" src="/icon/astro-logo.svg">
      <img class="h-6 md:h-12 w-auto object-cover" src="/icon/tailwind-logo.svg">
      <img class="h-6 md:h-12 w-auto object-cover" src="/icon/shopify-logo.svg">
      <img class="h-6 md:h-12 w-auto object-cover" src="/icon/vscode-alt.svg">
      <img class="h-6 md:h-12 w-auto object-cover" src="/icon/astro-logo.svg">
      <img class="h-6 md:h-12 w-auto object-cover" src="/icon/tailwind-logo.svg">
      <img class="h-6 md:h-12 w-auto object-cover" src="/icon/shopify-logo.svg">
      <img class="h-6 md:h-12 w-auto object-cover" src="/icon/vscode-alt.svg">
      <img class="h-6 md:h-12 w-auto object-cover" src="/icon/astro-logo.svg">
    </div>

      <div class="h-full w-24 absolute top-0 right-0 bg-gradient-to-l from-green-max-dark to-transparent"></div>
        <div class="h-full w-24 absolute top-0 left-0 bg-gradient-to-r from-green-max-dark to-transparent"></div>

  </div>

</section>
