---
import "../styles/global.css";
import { motion } from "framer-motion";
---

<section class="relative py-24 overflow-hidden">
  <!-- Accent background shape -->

  <div
    class="relative grid md:grid-cols-2 grid-cols-1 mx-auto items-center container justify-between px-2"
  >
    <!-- Image -->
    <div
      class="flex justify-center md:justify-start order-2 md:order-1 mb-12 md:mb-0"
    >
      <div
        class="relative group hover:rotate-0 transition-transform duration-500"
      >
        <div
          class="absolute bg-green-max rounded-xl blur-lg opacity-30 group-hover:opacity-50 transition-opacity"
        >
        </div>
        <motion.img
          client:visible
          initial={{ x: -100, opacity: 0 }}
          animate={{ x: 0, opacity: 1 }}
          transition={{
            type: "spring",
            stiffness: 50, // Moins rigide
            damping: 20, // Amorti rapidement
            delay: 0.3, // Petit délai au chargement
          }}
          src="/images/description-moi.webp"
          alt="Photo de Maxence"
          className="relative z-10 w-full max-w-sm md:max-w-xl border-[3px] border-green-max rounded-xl shadow-lg hover:shadow-[10px_10px_0_#36f4a4] transition-shadow duration-300"
        />
      </div>
    </div>

    <!-- Texte -->
    <motion.div
      client:visible
      initial={{ x: 100, opacity: 0 }}
      animate={{ x: 0, opacity: 1 }}
      transition={{
        type: "spring",
        stiffness: 50, // Moins rigide
        damping: 20, // Amorti rapidement
        delay: 0.3, // Petit délai au chargement
      }}
      className="order-1 md:order-2 font-body leading-relaxed space-y-6 md:pl-8 font-title"
    >
      <h2
        class="font-title text-3xl md:text-4xl font-semibold mb-6 border-l-4 border-green-max pl-4"
      >
        Enchanté, moi c’est <span class="text-green-max">Maxence</span> 👋
      </h2>

      <p>
        Bienvenue sur mon site portfolio — ici, je vous partage mes projets, mon
        parcours et mon approche du digital qui allie <span
          class="font-semibold text-green-max">stratégie marketing</span
        > et <span class="font-semibold text-green-max"
          >expertise technique</span
        >.
      </p>

      <p>
        J'ai <span
          class="bg-green-max text-green-max-dark px-2 rounded-md font-semibold"
          >26 ans</span
        > et je vis à <span
          class="bg-green-max text-green-max-dark px-2 rounded-md font-semibold"
          >Rennes</span
        >. Passionné par le <span class="font-semibold"
          >web-marketing digital</span
        > et la <span class="font-semibold">communication en ligne</span>,
        j'accompagne les entreprises dans leur transformation digitale avec une
        vision à 360°.
      </p>

      <p>
        De la <span class="font-semibold text-green-max"
          >stratégie de contenu</span
        > à l'<span class="font-semibold text-green-max">optimisation SEO</span
        >, en passant par la <span class="font-semibold text-green-max"
          >création de sites performants</span
        >, j'aime allier créativité et performance pour obtenir des résultats
        concrets et mesurables.
      </p>

      <p>
        Mon approche ? Comprendre vos <span class="font-semibold"
          >objectifs business</span
        >, définir une <span class="font-semibold"
          >stratégie digitale claire</span
        >, et la mettre en œuvre avec les bons outils — que ce soit pour
        développer votre visibilité, générer des leads ou augmenter vos
        conversions.
      </p>
    </motion.div>
  </div>
</section>
