---
import "../styles/global.css";
---


  <div class="section grid md:grid-cols-2 grid-cols-1 md:w-3/4 w-11/12 mx-auto gap-10 items-center">
    
    <!-- Image -->
    <div class="flex justify-center md:justify-center rotate-2">
      <img
        src="/images/description-moi.png"
        alt="Photo de Maxence"
        class="max-w md:w-2xl border-[3px] border-[#36f4a4] rounded-md transition-transform duration-initial hover:shadow-[8px_8px_0_#36f4a4]"
      />
    </div>
    
    <!-- Texte -->
    <div class="font-body text-base leading-relaxed space-y-4 md:pl-8">
      <p class="font-title text-2xl md:text-3xl font-semibold mb-4 border-l-4 border-[#36f4a4] pl-4">
        Enchanté, moi c’est Maxence —
      </p>
      <p>
        Je vous souhaite la bienvenue sur mon espace personnel. Ici, je vous présente mes projets, mon parcours, les outils que j’utilise et que je maîtrise… bref, tout ce qu’il faut savoir sur moi !
      </p>
      <p>
        J’ai <span class="bg-[#36f4a4] text-[#041E18] px-1.5 rounded-sm font-semibold">26 ans</span> et je vis à <span class="bg-[#36f4a4] text-[#041E18] px-1.5 rounded-sm font-semibold">Rennes</span>. Passionné par l’univers du web, j’aime concevoir des expériences uniques, entre esthétique et performance — qu’il s’agisse de sites vitrines ou e-commerce.
      </p>
      <p>
        Comprendre ce qu’il se passe derrière les pages que nous visitons chaque jour, tant sur le plan technique que stratégique, nourrit ma curiosité et ma créativité.
      </p>
      <p>
        D’ailleurs, le site que vous explorez en ce moment est entièrement conçu par mes soins, avec <span class="bg-[#36f4a4] text-[#041E18] px-1.5 rounded-sm font-semibold">Astro et Tailwind CSS</span> — un duo moderne au service d’une esthétique vintage.
      </p>
    </div>

  </div>
