---
import "../styles/global.css";
---

<div class="text-center space-y-2  mt-20" id="projects">
    <div class="flex justify-center">
    <h2 class="inline-block text-3xl font-extrabold mb-10 p-4 bg-[#36f4a4]/10 border-2 border-[#36f4a4] rounded-full -rotate-1 hover:rotate-0 transition-all duration-300">
        Mon Parcours
    </h2>
    </div>
    <p class="max-w-xl mx-auto">
      Découvrez mon parcours professionnel
    </p>
    <div class="w-16 h-1 bg-[#36f4a4] mx-auto"></div>
  </div>
<div class="md:w-2/3 w-full mx-auto">
    <div class="content-center mx-auto border-l-2 border-[#36f4a4] pl-16 hover:scale-105 transition-all duration-300">
    <div class="text-left">
        <p class="text-2xl font-bold">Freelance</p>
        <p class="text-[#36f4a4]">De sept 2025 à aujourd'hui</p>
    </div>
    <div>
        Après plusieurs années d'expérience dans le e-commerce, la refonte et la création de site web, j'ai décidé de me lancer en tant que freelance. Cette expérience m'a permis d'accroitre mes compétences en gestion de projet, en communication avec les clients et en adaptation. 
    </div>
</div>
    <hr class="border-t border-gray-300 my-6">
    <div class="content-center mx-auto border-l-2 border-[#36f4a4] pl-16 hover:scale-105 transition-all duration-300">
    <div class="text-left">
        <p class="text-2xl font-bold">OhMyCase</p>
        <p class="text-[#36f4a4]">De juillet 2022 à aujourd'hui</p>
    </div>
    <div>
        OhMyCase est une entreprise de coque de téléphone personnalisées basée en France.
        <br>
        - Gestion et maintenance du site e-commerce.
        <br>
        - Gestion des partenariats avec les influenceurs.
        <br>
        - Mise en place des campagnes e-mailings (Klaviyo).
        <br>
        - Gestion de projets divers (Backfriday, Noël, Soldes, etc.)
        <br>
    </div>
</div>
    <hr class="border-t border-gray-300 my-6">
    <div class="content-center mx-auto border-l-2 border-[#36f4a4] pl-16 hover:scale-105 transition-all duration-300">
    <div class="text-left">
        <p class="text-2xl font-bold">ID Postur</p>
        <p class="text-[#36f4a4]">Mai 2023</p>
    </div>
    <div>
        ID Postur est un centre d'étude posturale pour les cycliste basée à Rennes.
        <br>
        - Création et gestion du site internet.
        <br>
        - Mise en place du SEO.
        <br>
        - Création du Google My Business.
        <br>
    </div>
</div>
<hr class="border-t border-gray-300 my-6">
    <div class="content-center mx-auto border-l-2 border-[#36f4a4] pl-16 hover:scale-105 transition-all duration-300">
    <div class="text-left">
        <p class="text-2xl font-bold">MyFooty</p>
        <p class="text-[#36f4a4]">Mai 2023</p>
    </div>
    <div>
        MyFooty est une marque de coque de téléphone personnalisées autour du football.
        <br>
        - Maintenance du site e-commerce sur Shopify.
        <br>
        - Création et mise en ligne de nouveaux produits.
        <br>
        - Configuration des applications Shopify pour améliorer l'expérience utilisateur.
        <br>
    </div>
</div>
</div>