---
import "../styles/global.css";
---
<div class="md:w-2/3 w-full mx-auto py-14 md:py-20 section">
  <!-- Section header -->
  <div class="text-center space-y-2" id="about">
    <div class="flex justify-center">
    <h2 class="font-title inline-block text-3xl font-extrabold mb-10 p-4 bg-[#36f4a4]/10 border-2 border-[#36f4a4] rounded-full -rotate-1 hover:rotate-0 transition-all duration-300">
        Mes Projets
    </h2>
    </div>
    <p class="max-w-xl mx-auto">
      Découvrez les projets sur lesquels j'ai travaillé
    </p>
    <div class="w-16 h-1 bg-[#36f4a4] mx-auto"></div>
  </div>

  <!-- Projects grid -->
  <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-2 pl-4">
    <!-- Carte projet -->
    <div class="group border-l-2 border-[#36f4a4] p-6 hover:scale-105 transition-all duration-300">
      <img src="/id-postur-white.webp" alt="logo ID Postur" class="h-12 mb-4 object-left" />
      <p class="text-xl font-bold mb-2">ID Postur</p>
      <p class="text-white">Centre d'étude posturale à Rennes.</p>
      <p class="text-sm text-white mt-1">Mai 2023</p>

      <div class="grid grid-cols-3 gap-3 pt-4">
        <p class="bg-gray-100/50 text-white rounded-xl text-center text-xs font-light py-1">Developpement</p>
        <p class="bg-gray-100/50 text-white rounded-xl text-center text-xs font-light py-1">Astro</p>
        <p class="bg-gray-100/50 text-white rounded-xl text-center text-xs font-light py-1">TailwdindCSS</p>
      </div>

      <button class="mt-5 bg-gray-100/50 text-white font-semibold px-4 py-2 rounded-xl w-full hover:bg-white hover:text-[#041E18] transition">
        En savoir plus
      </button>
    </div>

    <!-- Carte projet -->
    <div class="group border-l-2 border-[#36f4a4] p-6 hover:scale-105 transition-all duration-300">
      <img src="/ohmycase-white.webp" alt="logo Ohmycase" class="h-9 mb-4 object-left" />
      <p class="text-xl font-bold mb-2">Ohmycase</p>
      <p class="text-white">Ohmycase est une marque de coque de téléphone.</p>
      <p class="text-sm text-white mt-1">Juin 2022 – Mars 2025</p>

      <div class="grid grid-cols-3 gap-3 pt-4">
        <p class="bg-gray-100/50 text-white rounded-xl text-center text-xs font-light py-1">Shopify</p>
        <p class="bg-gray-100/50 text-white rounded-xl text-center text-xs font-light py-1">Figma</p>
        <p class="bg-gray-100/50 text-white rounded-xl text-center text-xs font-light py-1">Suite Adobe</p>
      </div>

      <button class="mt-5 bg-gray-100/50 text-white font-semibold px-4 py-2 rounded-xl w-full hover:bg-white hover:text-[#041E18] transition">
        En savoir plus
      </button>
    </div>

    <!-- Carte projet -->
    <div class="group border-l-2 border-[#36f4a4] p-6 hover:scale-105 transition-all duration-300">
      <img src="/images/energie-fruit-white.webp" alt="logo Énergie Fruit" class="h-9 mb-4 object-left" />
      <p class="text-xl font-bold mb-2">Énergie Fruit</p>
      <p class="text-white">Énergie Fruit est une marque de cosmétique féminin.</p>
      <p class="text-sm text-white mt-1">Septembre 2025 – Aujourd’hui</p>

      <div class="grid grid-cols-3 gap-3 pt-4">
        <p class="bg-gray-100/50 text-white rounded-xl text-center text-xs font-light py-1">Shopify</p>
        <p class="bg-gray-100/50 text-white rounded-xl text-center text-xs font-light py-1">Figma</p>
        <p class="bg-gray-100/50 text-white rounded-xl text-center text-xs font-light py-1">VS Code</p>
      </div>

      <button class="mt-5 bg-gray-100/50 text-white font-semibold px-4 py-2 rounded-xl w-full hover:bg-white hover:text-[#041E18] transition">
        En savoir plus
      </button>
    </div>
  </div>
</div>

