---
import ProjectSection from "./ProjectSection.astro";
---

<main class="md:section">
<div class="sticky top-[0px]">
  <ProjectSection
    marque="OhMyCase"
    presentation="Gestion/Maintenance de la marque"
    description="Ohmycase est une marque de coques de téléphone personnalisées. J'ai intégré la marque en débutant par un stage, puis j'ai continué à y travailler pendant plus de 3 ans. C'est le projet sur lequel j'ai le plus travaillé et où j'ai le plus appris durant ma carrière professionnelle. J'y ai appris à être autonome et à apprendre par moi-même."
    tags={["Dev Shopify", "Figma", "Web-marketing", "Gestion de projet"]}
    images={[
      "/images/omc-bento-website.png"
    ]}
  />
</div>
<div class="sticky top-[0px] md:top-[70px]">
  <ProjectSection
    marque="Energie Fruit"
    presentation="Gestion/maintenance du site Shopify"
    description="Énergie Fruit est une marque de cosmétique pour femme. J'accompagne la marque depuis plusieurs mois sur leur lancement en e-commerce. Que ce soit dans l'audit, le conseil ou même le developpement de nouvelle fonction."
    tags={["Dev Shopify", "Figma", "Web-marketing", "Audit"]}
    images={[
      "/images/energie-fruit-site.png"
    ]}
  />
</div>
<div class="sticky md:top-[0px] top-[140px]">
  <ProjectSection
    marque="ID Postur"
    presentation="Création du site internet"
    description="ID Postur est un cabinet d'étude posturale pour les cyclistes. Installé depuis 2022, ils ont fait appel à moi pour développer toute leur (apparition) sur les moteurs de recherches. Je me suis occupé de créer leur site, de l'optimiser pour le SEO et de créer leur Google My Business. Aujourd'hui, ID Postur, c'est plus de 800 études réalisés !"
    tags={["Dev", "Figma", "SEO", "Conseil"]}
    images={[
      "/images/id-postur-site.png"
    ]}
  />
</div>
</main>
