---
import ProjectSection from "./ProjectSection.astro";
---

<main class="md:section" id="projects">
<div class="sticky top-[0px]">
  <ProjectSection
    marque="OhMyCase"
    presentation="Gestion/Maintenance de la marque"
    description="Ohmycase est une marque de coques de téléphone personnalisées. J’ai accompagné la marque pendant plusieurs années, que ce soit dans sa communication en ligne, dans le développement de son site Shopify, dans l’optimisation de son SEO, ou encore dans la gestion de projets tels que le Black Friday, Noël, etc."
    tags={["Dev Shopify", "Web-Design", "Web-marketing", "Influence"]}
    images={[
      "/images/omc-bento-website.webp"
    ]}
  />
</div>
<div class="sticky top-[0px] md:top-[70px]">
  <ProjectSection
    marque="Energie Fruit"
    presentation="Gestion/maintenance du site Shopify"
    description="Énergie Fruit est une marque de cosmétiques pour femmes. J’accompagne la marque depuis plusieurs mois dans son lancement en e-commerce, que ce soit dans le conseil ou dans le développement de nouvelles fonctionnalités sur leur Shopify."
    tags={["Dev Shopify", "Web-design", "Audit"]}
    images={[
      "/images/energie-fruit-site.webp"
    ]}
  />
</div>
<div class="sticky md:top-[0px] top-[140px]">
  <ProjectSection
    marque="ID Postur"
    presentation="Création du site internet"
    description="ID Postur est un cabinet d’étude posturale pour cyclistes. Installés depuis 2022, ils ont fait appel à moi pour développer toute leur notoriété sur les moteurs de recherche. Je me suis occupé de créer leur site, de l’optimiser pour le SEO et de mettre en place leur fiche Google My Business. Aujourd’hui, ID Postur, c’est plus de 800 études réalisées !"
    tags={["Dev Web", "SEO", "Web-Design"]}
    images={[
      "/images/id-postur-site.webp"
    ]}
  />
</div>
</main>
