---
import ProjectSection from "./ProjectSection.astro";
---

<main class="md:section" id="projects">
<div class="sticky top-[0px]">
  <ProjectSection
    marque="OhMyCase"
    presentation="Gestion/Maintenance de la marque"
    description="Ohmycase est une marque de coques de téléphone personnalisées. J'ai accompagné la marque pendant plusieurs années, que ce soit dans leur communication en ligne, dans le developpement de leur Shopify, dans l'optmisation de leur SEO ou encore dans la gestion de projets tel que le BlackFriday, Noël,... "
    tags={["Dev Shopify", "Web-Design", "Web-marketing", "Influence"]}
    images={[
      "/images/omc-bento-website.png"
    ]}
  />
</div>
<div class="sticky top-[0px] md:top-[70px]">
  <ProjectSection
    marque="Energie Fruit"
    presentation="Gestion/maintenance du site Shopify"
    description="Énergie Fruit est une marque de cosmétique pour femme. J'accompagne la marque depuis plusieurs mois sur leur lancement en e-commerce. Que ce soit dans le conseil ou encore dans le developpement de nouvelle fonctionnalité sur leur Shopify."
    tags={["Dev Shopify", "Web-design", "Audit"]}
    images={[
      "/images/energie-fruit-site.png"
    ]}
  />
</div>
<div class="sticky md:top-[0px] top-[140px]">
  <ProjectSection
    marque="ID Postur"
    presentation="Création du site internet"
    description="ID Postur est un cabinet d'étude posturale pour les cyclistes. Installé depuis 2022, ils ont fait appel à moi pour développer toute leur notorité sur les moteurs de recherches. Je me suis occupé de créer leur site, de l'optimiser pour le SEO et de créer leur Google My Business. Aujourd'hui, ID Postur, c'est plus de 800 études réalisés !"
    tags={["Dev Web", "SEO", "Web-Design"]}
    images={[
      "/images/id-postur-site.png"
    ]}
  />
</div>
</main>
