<div
  class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-4 my-10 text-center px-4 md:px-0 py-12 font-title"
>
  <div
    class="rounded-4xl grid grid-cols-1 bg-[#FAFAFA] px-10 py-10 border border-black/10"
  >
    <img src="/images/icon-1.svg" alt="Service 1" class="w-34 h-full mx-auto" />
    <p class="font-bold text-lg mt-4">Création boutique Shopify</p>
    <p>
      Je crée le site e-commerce Shopify qui reflète vos ambitions et vos
      objectifs.
    </p>
  </div>
  <div
    class="rounded-4xl grid grid-cols-1 bg-[#FAFAFA] px-10 py-10 border border-black/10"
  >
    <img src="/images/icon-2.svg" alt="Service 1" class="w-34 h-full mx-auto" />
    <p class="font-bold text-lg mt-4">Refonte boutique Shopify</p>
    <p>Je réalise la refonte globale de votre boutique Shopify.</p>
  </div>
  <div
    class="rounded-4xl grid grid-cols-1 bg-[#FAFAFA] px-10 py-10 border border-black/10"
  >
    <img src="/images/icon-3.svg" alt="Service 1" class="w-34 h-full mx-auto" />
    <p class="font-bold text-lg mt-4">Mission sur-mesure</p>
    <p>
      Création de landing page, nouvelle fonctionnalité, optimisation CRO,
      SEO,...
    </p>
  </div>
</div>
