---
import { Icon } from "astro-icon/components";
---

<section class="container mx-auto my-12 px-4 md:px-12">
  <div class="flex justify-center items-center gap-4 md:gap-14">
    <p
      class="inline-block text-nowrap text-4xl md:text-6xl font-bold font-title"
    >
      Mes tarifs
    </p>
    <hr class="border-4 border-green-max w-full rounded-full" />
  </div>
</section>

<section class="container mx-auto font-title px-4 md:px-12">
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-4 justify-center space-3 relative"
  >
    <div
      class="border-1 border-green-max px-12 py-12 rounded-xl space-y-6 bg-green-max-dark relative w-full z-1"
    >
      <h1 class="font-title text-2xl md:text-6xl font-bold">Projet Web</h1>
      <p class="italic">Sur Devis</p>
      <hr class="border-green-max" />
      <p class="flex items-center gap-4">
        <Icon name="check" class="w-4 md:w-4 h-full text-green-max" />
        Adapté à vos besoins
      </p>
      <p class="flex items-center gap-4">
        <Icon name="check" class="w-4 md:w-4 h-full text-green-max" />
        Accompagnement de A à Z
      </p>
      <p class="flex items-center gap-4">
        <Icon name="check" class="w-4 md:w-4 h-full text-green-max" />
        Design sur mesure et responsive
      </p>
      <p class="flex items-center gap-4">
        <Icon name="check" class="w-4 md:w-4 h-full text-green-max" />
        Création d'une landing page
      </p>
      <p class="flex items-center gap-4">
        <Icon name="check" class="w-4 md:w-4 h-full text-green-max" />
        Création site e-commerce (Shopify)
      </p>
      <p class="flex items-center gap-4">
        <Icon name="check" class="w-4 md:w-4 h-full text-green-max" />
        Création section et landing page (Shopify)
      </p>
    </div>

    <div
      class="border-1 border-green-max px-12 py-12 rounded-xl space-y-6 bg-green-max-dark relative w-full z-1"
    >
      <h1 class="font-title text-2xl md:text-6xl font-bold">Freelancing</h1>
      <p class="italic">TJM ~ 150€</p>
      <hr class="border-green-max" />
      <p class="flex items-center gap-4">
        <Icon name="check" class="w-4 md:w-4 h-full text-green-max" />
        Tailwind CSS
      </p>
      <p class="flex items-center gap-4">
        <Icon name="check" class="w-4 md:w-4 h-full text-green-max" />
        Liquid
      </p>
      <p class="flex items-center gap-4">
        <Icon name="check" class="w-4 md:w-4 h-full text-green-max" />
        HTML/CSS
      </p>
      <p class="flex items-center gap-4">
        <Icon name="check" class="w-4 md:w-4 h-full text-green-max" />
        JaveScript
      </p>
      <p class="flex items-center gap-4">
        <Icon name="check" class="w-4 md:w-4 h-full text-green-max" />
        Vercel
      </p>
    </div>
  </div>
</section>
