---
import "../styles/global.css";
---

<section class="max-w-6xl mx-auto px-4 py-20">
  <h2
    class="text-4xl font-title font-bold text-center mb-16 text-green-max-dark"
  >
    Mon parcours
  </h2>

  <ul class="timeline timeline-vertical text-green-max-dark">
    <!-- ITEM -->
    <li>
      <div
        class="timeline-start timeline-box bg-green-max text-white shadow-xl max-w-md"
      >
        <p class="text-sm opacity-80 mb-2">À partir de 2026</p>
        <h3 class="text-2xl font-bold mb-3">
          Formation Intensive Développeur Web
        </h3>
        <p class="text-base leading-relaxed mb-8">
          ABC Essais est une société d'ingénierie spécialisée dans la conception
          et la fabrication de bancs d'essai pour des clients des secteurs de
          l'aérospatiale et de l'automobile. Réalisation d'études mécatroniques
          et conception de bancs d'essai pour des clients des secteurs de
          l'aérospatiale et de l'automobile. Création de composants mécaniques à
          partir de zéro à l'aide de SolidWorks, y compris la modélisation 3D,
          la conception d'assemblages contraints et la production de dessins
          techniques normalisés pour la fabrication de pièces. Collaboration
          avec les équipes d'ingénierie pour répondre aux spécifications des
          clients et s'assurer que les bancs d'essai sont conformes aux normes
          applicables. Participation active aux revues de conception et soutien
          aux phases de validation technique et industrielle.
        </p>
        <div>
          <div class="badge badge-warning badge-lg"></div>
        </div>
      </div>

      <div class="timeline-middle">
        <span class="badge badge-success badge-lg"></span>
      </div>

      <hr class="bg-green-max/30" />
    </li>

    <!-- ITEM -->
    <li>
      <hr class="bg-green-max/30" />

      <div class="timeline-middle">
        <span class="badge badge-success badge-lg"></span>
      </div>

      <div
        class="timeline-end timeline-box bg-green-max text-white shadow-xl max-w-md"
      >
        <p class="text-sm opacity-80 mb-2">Septembre 2025 - Aujourd'hui</p>
        <h3 class="text-2xl font-bold mb-3">Projets Web & Freelance</h3>
        <p class="text-base leading-relaxed">
          Développement de sites modernes avec React, Tailwind et intégration de
          solutions e-commerce et SEO.
        </p>
      </div>

      <hr class="bg-green-max/30" />
    </li>

    <!-- ITEM -->
    <li>
      <hr class="bg-green-max/30" />

      <div
        class="timeline-start timeline-box bg-green-max text-white shadow-xl max-w-md"
      >
        <p class="text-sm opacity-80 mb-2">2024</p>
        <h3 class="text-2xl font-bold mb-3">
          Auto-formation & pratiques avancées
        </h3>
        <p class="text-base leading-relaxed">
          Approfondissement de JavaScript, frameworks modernes et bonnes
          pratiques UI/UX.
        </p>
      </div>

      <div class="timeline-middle">
        <span class="badge badge-success badge-lg"></span>
      </div>
    </li>

    <!-- ITEM -->
    <li>
      <hr class="bg-green-max/30" />

      <div
        class="timeline-end timeline-box bg-green-max text-white shadow-xl max-w-md"
      >
        <p class="text-sm opacity-80 mb-2">2024</p>
        <h3 class="text-2xl font-bold mb-3">Bac STMG</h3>
        <p class="text-base leading-relaxed">
          Approfondissement de JavaScript, frameworks modernes et bonnes
          pratiques UI/UX.
        </p>
      </div>

      <div class="timeline-middle">
        <span class="badge badge-success badge-lg"></span>
      </div>
    </li>
  </ul>
</section>
