---
import "../styles/global.css";
import AnimatedSection from "../components/AnimatedSection.jsx";
import React from "react";
import { motion } from "framer-motion";
import Marquee from "../components/MarqueeBrand.astro";
---

<section
  class="relative flex flex-col items-center text-center min-h-screen bg-white text-[#FC5A0A] font-title"
>
  <!-- Contenu centré verticalement -->
  <div class="flex-1 flex items-center justify-center w-full">
    <div class="md:w-3/4 w-11/12 mx-auto flex flex-col items-center">
      <!-- Badge -->
      <div
        class="items-center bg-[#FC5A0A]/10 px-5 py-2.5 rounded-lg border border-[#FC5A0A]/30 inline-block mb-6"
      >
        <span class="font-medium">Freelance spécialisé Shopify</span>
      </div>
      <!-- Titre -->
      <motion.h1
        className="text-4xl md:text-6xl font-title font-extrabold leading-snug mb-10"
        initial={{ y: -100, opacity: 0 }}
        animate={{ y: 0, opacity: 1 }}
        transition={{
          type: "spring",
          stiffness: 50,
          damping: 20,
          delay: 0.3,
        }}
        client:visible
      >
        <span class="text-black"
          >Créons ensemble votre boutique <br /> e-commerce sur Shopify</span
        >
      </motion.h1>
      <!-- Bouton -->
      <div class="btn-primaire-max">
        <a href="https://wa.me/0673551150" rel="nofollow">Réserver un appel</a>
      </div>
    </div>
  </div>
  <!-- Marquee en bas -->
  <div class="w-full">
    <Marquee />
  </div>
</section>
